/** A bunch of CSS imported from the old mesecons website **/

#developers {
	width:80vw;
	max-width:1000px;
	margin:0 auto;
}

#developers .article-heading {
	font-size: 2.6em;
	color: #222222;
}

#developers .paragraph-heading {
	font-size: 1.5em;
	color: #000000;
}

#developers .code {
	margin-top:8px;
	margin-bottom:8px;
	padding: 5px;
	border: 2px dotted #999999;
	background: #ffffff;
	font-family: Nimbus Mono L, Ubuntu, Arial
}

#developers .code:hover
{
	background:#dddddd;
	color:#000000;
}

#developers {
	margin-bottom:50px;
}

.dev-hover-item {
	width:20vw;
	max-width:140px;
	float:right;
}

.guideline:before {
	content: "?";
	position: absolute;
	padding: 1px;
	background-color: white;
	border-radius: 5px;
}

.guideline:hover:before {
	font-family:"Titillium Web", "Fira Sans", Cantarell, Arial;
	display: inline;
	position: absolute;
	font-size: 16px
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-radius: 3px
}

.ref1:hover:before {content: "Make sure functions and variables that don't need to be public are defined local"}
.ref2:hover:before {content: "To modify an array member by its index, preferably use bar.foo, not bar[\"foo\"] if not required"}
.ref3:hover:before {content: "Define functions inside registrations; Makes things clearer, you know which function belongs to which registration"}
.ref4:hover:before {content: "You can put simple if constructions in one line only or use one line if the IFs do the same thing over and over again."}
.ref5:hover:before {content: "If you use functions with similar parameters, it looks better to make it like the parameters are in a vertical line."}
.ref6:hover:before {content: "Make spaces and empty lines between functions and inside functions for segments"}
.ref7:hover:before {content: "If a line becomes very long, try to split it. Try not to use more than 100 chars per line."}