body {
	background:#ccc;
	font-family:Titillium Web, Cantarell, Arial;
	font-size:0.95em;
	margin:0;
	margin-bottom:30px;
}

#topbar {
	position:fixed;
	top:0;
	height:50px;
	width:100vw;
	border-bottom:1px solid #aaa;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.75);
	background:#fff;
	z-index:2;
}

#topbar_logo {
	float:left;
	display:inline-block;
	height:40px;
	margin-top:5px;
	margin-left:10px;
}

#topbar_logotext {
	float:left;
	display:inline-block;
	line-height:50px;
	font-size:20px;
	color:#8a8c00;
	font-weight:bold;
	font-family:Cantarell;
	margin-left:15px;
}

#topbar_controller {
	background: rgba(0,0,0,0);
	height:150px;
	margin-right:5px;
	position:absolute;
	top:0;
	right:50px;
}

#topbar #topheader {
	font-size:30px;
	line-height:50px;
	display:block;
	text-align:center;
	width:50vw;
	margin:0 auto;
	color:#444;
	font-weight:bold;
}

#article {
	margin-top:80px;
	margin-right:auto;
	margin-left:auto;
	width:850px;
}

#article #chapter {
	box-shadow: 0px 8px 8px rgba(0,0,0,0.4);
	background:#ffffff;
	padding:10px;
	margin-bottom:30px;
}

#article img {
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	-webkit-transition:opacity 0.2s linear;
	-moz-transition:opacity 0.2s linear;
	-o-transition:opacity 0.2s linear;
	transition:opacity 0.2s linear;
	-webkit-transition:width, height 0.5s ease;
	-moz-transition:width, height 0.5s ease;
	-o-transition:width, height 0.5s ease;
	transition:width, height 0.5s ease;
}

#article img#enlarge:hover {
	height:400px;
}

#article img:hover {
	opacity:0.9;
}

#article #header {
	font-size:1.6em;
	font-weight:bold;
}

#article hr {
	margin-top:25px;
	margin-bottom:25px;
	border:0;
	height:1px;
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.4), rgba(0,0,0,0.05));
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.4), rgba(0,0,0,0.05));
	background-image:-o-linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.4), rgba(0,0,0,0.05));
	background-image:linear-gradient(left, rgba(0,0,0,0.05), rgba(0,0,0,0.4), rgba(0,0,0,0.05));
}

#article #code {
	padding: 5px;
	border: 2px dotted #999999;
	background: #ffffff;
	font-family: Nimbus Mono L, Ubuntu, Arial
}

#article #code:hover
{
	background:#dddddd;
	color:#000000;
}

#article #warning
{
	margin-top:10px;
	padding: 8px;
	border: 2px dashed #990000;
	background: #ffcccc;
}

#article #summary
{
	margin-top:10px;
	padding: 8px;
	border: 2px dashed #009900;
	background: #ccffcc;
}

#article #task
{
	margin-top:10px;
	padding: 8px;
	border: 2px dashed #000099;
	background: #b0ccff;
}

#article #eventtable {
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}

#article #eventtable, #eventtable td {
	padding:5px;
	border:1px solid #888888;
	border-collapse:collapse;
	background-color:#eeeeee;
}
